{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="md:container w-full flex">
    <div>
        <img src="{% static 'images/report-image.png' %}" alt="Opis obrazu">
    </div>
    <div class="pl-10">
        <div class="text-3xl mb-4">{{protocol.name}}</div>
        <div class="mb-4">{{protocol.description}}</div>
        <div><a href="{{protocol.file.url}}" class="rounded-full py-2 px-4 bg-indigo-400 hover:bg-indigo-500 text-white text-base font-normal mt-3" Download>Pobierz    </a></div>
    </div>
</div>
{% endblock %}