{% extends 'base/base.html' %}

{% block content %}
<div class="bg-gray-100 p-6 rounded-md shadow-md max-w-lg mx-auto mt-8">
    
    {% if error_message %}
        <div class="bg-red-500 text-white p-4 rounded mb-4 text-center">
            {{ error_message }}
        </div>
    {% endif %}
    
    <div class="text-center">
        {% if sample.remained %}
            <p class="text-gray-700 mb-4 text-2xl">Pozostało próbek: <span class="font-bold">{{ sample.remained }}</span></p>
            
            <form method="post" class="mt-4">
                {% csrf_token %}
                <label for="id_used_amount" class="block mb-2 font-semibold text-3xl">Zużywam:</label>
                <div class="mb-4 text-3xl">{{ usage_form.used_amount }}</div>
                <label for="id_description" class="block mt-4 font-semibold">Opis:</label>
                <div class="mb-4">{{ usage_form.description }}</div>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded">
                    Aktualizuj zużycie
                </button>
            </form>
        {% else %}
            <p class="text-red-600 mb-4">Dla wyświetlenia zużycia próbki trzeba wprowadzić jej początkową ilość.</p>
        {% endif %}
        
        {% if sample.description %}
            <h2 class="mt-6">Opis</h2>
            <p class="text-gray-500 mt-4 border-t pt-4">{{ sample.description }}</p>
        {% endif %}
    </div>
    <div class="text-center">
        <img src="data:image/png;base64,{{ pie_chart_data }}" alt="Pie Chart" class="mx-auto">
    </div>
    
    <div class="text-center">
        {% comment %} <img src="data:image/png;base64,{{ qr_data }}" alt="QR Code" class="mx-auto mb-4 shadow-lg w-1/2"> {% endcomment %}
        <a href="data:image/png;base64,{{ qr_data }}" download="qr_code.png" class="text-blue-600 hover:text-blue-800 hover:underline">Pobierz kod QR</a>
    </div>
    {% if usages %}
    <h2 class="mt-6">Szczegóły użycia</h2>
    <table class="min-w-full mt-4">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b">Data użycia</th>
                <th class="py-2 px-4 border-b">Ilość zużyta</th>
                <th class="py-2 px-4 border-b">Opis</th>
            </tr>
        </thead>
        <tbody>
            {% for usage in usages %}
                <tr>
                    <td class="py-2 px-4 border-b">{{ usage.date_used }}</td>
                    <td class="py-2 px-4 border-b">{{ usage.quantity_used }}</td>
                    <td class="py-2 px-4 border-b">{{ usage.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
{% endblock %}